<html>

<head>
    <title>URL Shortener</title>
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap@next/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/tether@latest/dist/js/tether.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
</head>

<body>
    <h1>Url Shortener</h1>
    <div id="app">
        <b-alert variant="danger" dismissible :show="alertText && showAlert" @dismissed="showAlert=false">
            {{ alertText }}
        </b-alert>
        <div v-if="busy" style="position: fixed; z-index: 1; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0,0,0, 0.6);">
            <br/><br/><br/>
            <h1 class="text-center" style="vertical-align: middle; color: white;">Loading...</h1>
        </div>
        <b-card title="Create URL" style="max-width: 20rem; float:left;" class="mb-2">
            <p class="card-text">
                <p>Enter URL:</p>
                <b-form-input type="text" v-model="url"></b-form-input>
                <b-form-checkbox v-model="tagSource">Tag Source?</b-form-checkbox>
                <b-form-checkbox v-model="tagMediums">Tag Mediums?</b-form-checkbox> 
                <b-button :disabled="busy" @click="shorten">Shorten</b-button>
            </p>
        </b-card>
        <b-card title="Shortened URLs" style="max-width: 80rem; float:left;" class="mb-2">
            <p class="card-text">
                <div v-if="urls.length === 0">(no urls)</div>
                <div v-if="urls.length">
                    <div style="max-height: 400px; overflow-y: scroll;">
                        <p v-for="url in urls"><strong>{{url.ShortUrl}} | {{url.LongUrl}}</p>
                    </div>
                </div>
            </p>
        </b-card>
    </div>
    <script src="index.js"></script>
</body>

</html>